{% extends "scrum/base2.html" %}
{% block content %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'users/static/css/all.min.css'  %}">
<!-- Ekko Lightbox -->
<link rel="stylesheet" type="text/css" href="{% static 'users/static/css/ekko-lightbox.css' %}">
<!-- Theme style -->
<link rel="stylesheet" type="text/css" href="{% static 'users/static/css/adminlte.min.css' %}">
<!-- overlayScrollbars -->
<link rel="stylesheet" type="text/css" href="{% static 'users/static/css/OverlayScrollbars.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback%22%3E">

<style>
  h1 {
      color:white;
  }

  h5.card-title {
      text-align: left;
  }
  

      
* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column1 {
float: left;
width: 33%;
padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row1 {margin: 0 -5px;}

/* Clear floats after the columns */
.row1:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column1 {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}

/* Style the counter cards */
.card1 {
box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #14A4BC;
border-radius: 25px;
background-position: left top;
background-repeat: repeat;
}
.card2 {
box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #2CA444;
border-radius: 25px;
background-position: left top;
background-repeat: repeat;
}
.card3 {
box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #DC3444;
border-radius: 25px;
background-position: left top;
background-repeat: repeat;
}
</style>

<section class="content pb-3">
  <div class="container-fluid h-100">
     <div style="height: 640px"; class="card card-row card-secondary">
        <div class="card-header">
           <h3 style="font-size: 30px"; class="card-title">
              Product Backlog {{n}}
           </h3>
        </div>

         
          <a class="nav-link" href="/projects/{{project.id}}/add_task"><span class="fs-3px-2"> Join Project</span></a>
        

          <div class="card-group" style = "overflow-x: scroll;
          overflow-y: hidden;">


  {% for task in tasks %}
            {% if task.priority == 4%}
                {% if task.points == 1 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-success card">
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small style="color: white">As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
                {% if task.points == 2 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-primary card">
                              <div style= "height: 100%" class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
                {% if task.points == 4 %}
                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-warning card">
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>
                {% endif %}
                {% if task.points == 8 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-danger card" >
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
            {% endif %}
        {% endfor %}
</div>

<div class="card-group" style = "overflow-x: scroll;
overflow-y: hidden;">
  {% for task in tasks %}
            {% if task.priority == 3%}
                {% if task.points == 1 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-success card">
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small style="color: white">As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
                {% if task.points == 2 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-primary card">
                              <div style= "height: 100%" class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
                {% if task.points == 4 %}
                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-warning card">
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>
                {% endif %}
                {% if task.points == 8 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-danger card" >
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
            {% endif %}
        {% endfor %}
</div>

<div class="card-group" style = "overflow-x: scroll;
overflow-y: hidden;">
  {% for task in tasks %}
            {% if task.priority == 2%}
                {% if task.points == 1 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-success card">
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small style="color: white">As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
                {% if task.points == 2 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-primary card">
                              <div style= "height: 100%" class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
                {% if task.points == 4 %}
                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-warning card">
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>
                {% endif %}
                {% if task.points == 8 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-danger card" >
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
            {% endif %}
        {% endfor %}
</div>

<div class="card-group" style = "overflow-x: scroll;
overflow-y: hidden;">
  {% for task in tasks %}
            {% if task.priority == 1%}
                {% if task.points == 1 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-success card">
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small style="color: white">As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
                {% if task.points == 2 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-primary card">
                              <div style= "height: 100%" class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
                {% if task.points == 4 %}
                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-warning card">
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>
                {% endif %}
                {% if task.points == 8 %}

                        <div class="scroll" style="padding-top:10px;">
                            <div class="border-danger card" >
                              <div style= "height: 100%"; class="card-body">

                                <h5 class="card-title">{{task.title}}</h5>

                              </div>
                              <div class="card-footer">
                                <small>As a {{task.as_a}}. I want {{task.i_want}}. So that {{task.so_that}}</small>
                              </div>
                            </div>
                            <br>
                        </div>

                {% endif %}
            {% endif %}
        {% endfor %}
</div>
    </div>
  </div>
</section>




  




          
     


{% endblock content %}