{% extends "scrum/base.html" %}

{% block content %}
    {% for task in tasks %}
        <p>
            {{task.title}}
            <form action="add_task_sprint" method="post">
                {% csrf_token %}
                <select name="task_id" style="display=none">
                    <option value="{{task.id}}"></option>
                </select>
                <select name="sprint_number">
                    {% for sprint in sprints %}
                    <option value="{{sprint.number}}">{{sprint.number}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-outline-primary">Primary</button>
            </form>

            <a href="create_sprint">create sprint</a>
        </p>
    {% endfor %}
{% endblock content %}